*{
    box-sizing: border-box;                                              /* Ajusta tamaños pixel ancho,altura,padding,border en uno solo*/
}

body
{
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
    display: grid;
    height: 100vh;
}

.contenedor
{
    background-color: aqua;
    border: 3px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    grid-template-rows: 0.3fr 0.5fr 0.5fr 0.5fr 0.5fr 6fr;
    height: 100vh;
    
}

.contenedor div
{
    /*width: 50vh;*/
    background-color:darkgray;
    border: 2px solid black;
    border-radius: 6px;
    width: auto; /* Ajusta el ancho como desees */
    height: auto;
    grid-column: 2;
    display: grid;
    grid-template-columns:0.2fr 0.8fr 1.9fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
}

#Limpiar
{
    grid-template-columns:0.5fr 0.2fr 1.9fr 1fr ;
    grid-template-rows: 1fr;
}

    #tipo_vehiculo label
    {
        grid-column: 2;
        grid-row: 2;
    }

    #tipo_vehiculo select
    {
        grid-column: 3;
        grid-row: 2;
    }

    #tipo_vehiculo button
    {
        grid-column: 4;
        grid-row: 2;
    }


    #Marcas label
    {
        grid-column: 2;
        grid-row: 2;
    }

    #Marcas select
    {
        grid-column: 3;
        grid-row: 2;
    }

    #Marcas button
    {
        grid-column: 4;
        grid-row: 2;
    }


    #Modelos label
    {
        grid-column: 2;
        grid-row: 2;
    }

    #Modelos select
    {
        grid-column: 3;
        grid-row: 2;
    }

    #Modelos button
    {
        grid-column: 4;
        grid-row: 2;
    }

    #años label
    {
        grid-column: 2;
        grid-row: 2;
    }

    #años select
    {
        grid-column: 3;
        grid-row: 2;
    }

    #años button
    {
        grid-column: 4;
        grid-row: 2;
    }

#Final
{
    display: grid;
    grid-template-columns:0.2fr 1.9fr 0.8fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
}

    #Final label
    {
        width: auto; /* Ajusta el ancho como desees */
        height: auto;
        grid-column: 2;
        align-self: end;

    }

    #Final button
    {
    
        width: auto; /* Ajusta el ancho como desees */
        height: auto;
        grid-column: 4;
        grid-row: 6;
    }